<section>
  <nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">
        <i class="fas fa-blog"></i> &nbsp;Todo App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="" [routerLink]="['/task']" class="nav-link" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/data']" class="nav-link" routerLinkActive="active">Data</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
